<div class="container">
  <div class="row">
    <div *ngFor="let movie of moviesList | slice: 1:5" class="col-sm-3">
      <div class="card">
        <img
          class="card-img-top"
          [src]="movie.hinhAnh"
          width="100%"
          height="350px"
        />
        <div class="card-body">
          <h4 class="card-title">{{ movie.tenPhim | uppercase }}</h4>
          <p class="card-text">{{ movie.moTa | shortcut: 50 }}</p>
          <p>{{ 0.5 | percent }}</p>
          <p>{{ movie.ngayKhoiChieu | date: "medium" }}</p>
          <button
            class="btn btn-success"
            routerLink="/detail/{{ movie.maPhim }}"
          >
            Chọn (Single params)
          </button>

          <button
            class="btn btn-success"
            [routerLink]="['/news']"
            [queryParams]="{ maPhim: movie.maPhim, tenPhim: movie.tenPhim }"
          >
            Chọn (Multi params)
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
